<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arvind.looksea">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LookSea">
        <activity
            android:name="com.arvind.looksea.CreateActivity"
            android:exported="false" />
        <activity
            android:name="com.arvind.looksea.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.arvind.looksea.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.arvind.looksea.ParticularsActivity"
            android:exported="false" />
        <activity
            android:name="com.arvind.looksea.SocialActivity"
            android:exported="false" />
        <activity
            android:name="com.arvind.looksea.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.arvind.looksea.HomeActivity"
            android:exported="false" />
        <activity
            android:name="com.arvind.looksea.PostActivity"
            android:exported="false" />
        <activity
            android:name="com.arvind.looksea.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>